/* Popup container - can be anything you want */
.popup {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #52575D19;
    border: 1px solid #70707024;
    border-radius: 0.32vw;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0%;
    margin-top: 0.42vw;
    font-size: 0.63vw;
    letter-spacing: 0px;
    color: #4D4D4D;
}

.notification .popuptext {
    width: 13.44vw;
}

.userBox .popuptext {
    width: 8.8vw;
}

.searchBox .popuptext {
    width: 19.1vw;
    right: 0;
    left: 4.6vw;
    margin: 0;
}

.searchBox .popuptext::before {
    display: none;
}
.popuptext ul
{
    margin: 0;
}

.popup .popuptext li {
    height: 2.1vw;
    list-style: none;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
}

.popup .popuptext li:last-of-type {
    border: none;
}

.popup .popuptext li:hover {
    background: #F0B52D0F;
}

/* Popup arrow */
.popup .popuptext::before {
    content: "";
    position: absolute;
    top: -0.34vw;
    left: 90.6%;
    width: 0.47vw;
    height: 0.47vw;
    background: #FFFFFF;
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    transform: rotate(45deg);
}

.userBox .popuptext::before {
    left: 87.6%;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
