@media all and (max-width:1112px) {
    .flatpickr-current-month .numInputWrapper {
        width: 2.5vw;
    }

    .flatpickr-current-month input.cur-year {
        padding: 0 0.6vw 0;
    }

    .flatpickr-calendar.animate.open {
        height: 14vw;
    }

    .flatpickr-calendar.animate.open {

        /*        width: 20.5vw;*/
    }
}

@media all and (max-width: 1024px) {
    .flatpickr-current-month .numInputWrapper {
        width: 3vw;
    }
}

@media all and (max-width: 425px) {
    .flatpickr-current-month .numInputWrapper {
        width: 6.6vw;
    }
}

@media all and (max-width:414px) {
    .flatpickr-months .flatpickr-month {
        height: 5.2vw;
    }

    .flatpickr-current-month input.cur-year {
        padding: 0 1.6vw 0.1vw;
    }

    .flatpickr-current-month input.cur-year {
        line-height: 1.3;
    }

    .flatpickr-months .flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month {
        top: 4vw;
    }

    .flatpickr-day,
    .flatpickr-day.today {
        line-height: 3.2;
        font-size: 0.9vw;
    }

    .flatpickr-day {
        flex-basis: 13.1%;
    }

    .flatpickr-calendar.animate.open {
        height: 31vw;
        width: 23.5vw;
    }


}

@media all and (max-width:375px) {
    .flatpickr-months .flatpickr-month {
        height: 6.5vw;
    }


    .flatpickr-months .flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month {
        top: 5.2vw;
    }

    .flatpickr-day,
    .flatpickr-day.today {
        line-height: 3.2;
    }

    .flatpickr-current-month input.cur-year {
        height: 79%;
    }

    .numInputWrapper span.arrowUp {
        right: -0.2vw;
        top: 0.2vw;
    }

    .flatpickr-calendar.animate.open {
        height: 29vw;
    }
}

@media (max-width: 320px) {
   
    .flatpickr-months .flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month {
        top: 3.6vw;
    }

    .flatpickr-current-month {
        padding: 0;
    }
    .flatpickr-calendar.animate.open {
height: 31vw;
}
    .flatpickr-months .flatpickr-month {
        height: 5.5vw;
    }

}
